body{
	background-color: #1d2426;
}

#title{
	width: 1000px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	background-color: #d4d4d820;
	margin-top: 25px;
}
#title-1{
	width: 1000px;
	height: 50px;
	color: #eeeeee;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	margin-top: 75px;
	float: left;
}
#title-2{
	width: 1000px;
	height: 50px;
	color: #bbbbbb;
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	float: left;
}
#title-3{
	width: 1000px;
	height: 50px;
	color: #bbbbbb;
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	float: left;
}
#title a:link, #title a:visited{
	color: #00aaff;
	text-decoration: underline;
}

#index{
	width: 1000px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	background-color: #d4d4d820;
}
#index-in{
	width: 200px;
	height: 50px;
	color: #eeeeee;
	margin-left: 200px;
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	float: left;
}
#index-0{
	width: 150px;
	height: 30px;
	margin-top: 10px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	float: left;
}
#index-1{
	width: 150px;
	height: 30px;
	margin-top: 10px;
	margin-left: 50px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	float: left;
}
.index-btn-def{
	background-color: #00aaff;
	color: #eeeeee;
}
.index-btn-def:hover{
	background-color: #eeeeee;
	color: #00aaff;
}
.index-btn-aft{
	background-color: #005681;
	color: #eeeeee;
}

#main{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	color: #eeeeee;
	background-color: #d4d4d820;
	margin-top: 25px;
}
#main-head{
	height: 50px;
}
#main-head div{
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	float: left;
}
#main-index, .main-index{width: 100px;}
#main-time, .main-time{width: 200px;}
#main-type, .main-type{width: 200px;}
#main-name, .main-name{width: 300px;}
#main-bv, .main-bv{width: 100px;}
#main-download, .main-download{width: 100px;}
.main-bv{
	color: #00aaff;
	text-decoration: underline;
}
.main-download-def{
	color: #aaaaaa;
	text-decoration: line-through;
}
.main-download-aft{
	color: #00aaff;
	text-decoration: underline;
}

.main-row{
	height: 30px;
}
.main-row div{
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	float: left;
}
#bottom{
	width: 1000px;
	height: 100px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 50px;
	color: #00000000;
}
#bottom a:link, #bottom a:visited{
	color: #00000000;
}
